<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido </ion-title>
    <ion-title>{{ usuarioIngresado }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <a href="https://www.youtube.com/watch?v=-mjiMmRrJL0">
    <img src="../../../assets/img/good job tohru.gif">
  </a>

  <p>Dori me
    Interimo ayapare, dorime
    Ameno, ameno
    Latire, latiremo
    Dori me
    Ameno
    Omenare imperavi ameno
    Dimere, dimere matiro
    Matiremo, ameno
    Omenare imperavi emunari
    Ameno
    Omenare imperavi emunari
    Ameno
    Ameno dore
    Ameno dori me
    Ameno dori me
    Ameno dom
    Dori me reo
    Ameno dori me
    Ameno dori me
    Dori me am
    Ameno
    Ameno
    Ameno
    Omenare imperavi ameno
    Dimere dimere martiro
    Martiremo, ameno
    Omenare imperavi emunari
    Ameno
    Omenare imperavi emunari
    Ameno
    Ameno dore
    Ameno dori me
    Ameno dori me
    Ameno dom
    Dori me reo
    Ameno dori me
    Ameno dori me
    Dori me am
    Ameno, ameno
    Ameno dori me
    Ameno dori me
    Dori me, dori me, dori me...
    Ameno
    Ameno dore
    Ameno dori me
    Ameno dori me
    Ameno dom
    Dori me reo
    Ameno dori me
    Ameno dori me
    Ameno, ameno
    Ameno
    Ameno dori me
    Ameno
    Ameno dori me
    Ameno dom
    Dori me reo, ameno
    Ameno dori me
    Ameno, ameno dori me</p>

</ion-content>