<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Imagen de frustracion -->

  <img src="../../../assets/img/HAAAAAAAAAAAAAA.gif">

  <!-- Inputs con sus identificadores -->
  <ion-item class="ion-margin">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]='usuarioConf'></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="pass"></ion-input>
  </ion-item>
  <ion-item class="ion-margin">
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="passConf"></ion-input>
  </ion-item>

  <!-- Boton para ingresar -->
  <ion-button (click)="cambiarContrasena()" class="ion-margin" color="success" expand="block" shape="round"
    id="btn_ingresar">Cambiar</ion-button>

</ion-content>